:root {

	/* Modify these to change your theme colors: */

	--primary: #2676D5;
	--text: #EEE;
	--text-subtle: #5D636A;
	--background: #111;
	--background-hover: #222;
	--background-elevated: #2D333A;

	--online: #00ff00;



	/* These should be less important: */
	--background-light: #AAA;
	--background-bright: #FFF;

	--border-dim: #666;
	--border-bright: var(--primary);

	--text-bright: #FFF;
	--text-special: var(--primary);

	--scrollbar-background: #000;
	--scrollbar-border: var(--primary);

  }

[
	{'rgb(255, 255, 255)': 'var(--background)'},
	{'rgb(97, 96, 97)': 'var(--text-subtle)'},
	{'rgb(221, 221, 221)': 'var(--border-dim)'},
	{'rgb(29, 28, 29)': 'var(--text-subtle)'},
	{'rgb(58, 163, 227)': 'var(--primary)'},
	{'rgb(18, 100, 163)': 'var(--primary)'},
	{'rgb(134, 134, 134)': 'var(--text-subtle)'},
	{'rgb(29, 155, 209)': 'var(--primary)'},
	{'rgb(248, 248, 248)': 'var(--background-hover)'},
	{'rgba(0, 0, 0, 0)': 'transparent'},
	{'rgba(29, 28, 29, 0.7)': 'var(--text-subtle)'},
	{'rgb(0, 122, 90)': 'var(--online)'},
	{'rgb(224, 30, 90)': 'magenta'}, // 
	{'rgba(0, 0, 0, 0.1)': 'var(--background-light)'},
	{'rgba(29, 155, 209, 0.3)': 'var(--primary)'},
	{'rgb(11, 76, 140)': 'var(--primary)'},
	{'rgb(0, 0, 0)', 'count': 68},
	{'rgba(29, 28, 29, 0.13)', 'count': 65},
	{'rgb(232, 145, 45)', 'count': 50},
	{'rgba(0, 0, 0, 0.15)', 'count': 47},
	{'rgba(29, 28, 29, 0.5)', 'count': 47},
	{'rgba(29, 28, 29, 0.52)', 'count': 43},
	{'rgba(0, 0, 0, 0.08)', 'count': 42},
	{'rgb(232, 245, 250)', 'count': 37},
	{'rgba(0, 0, 0, 0.2)', 'count': 32},
	{'rgb(243, 243, 243)', 'count': 32},
	{'rgb(102, 199, 158)', 'count': 32},
	{'rgb(244, 153, 60)', 'count': 32},
	{'rgb(167, 36, 40)', 'count': 32},
	{'rgb(252, 244, 218)', 'count': 32},
	{'rgb(153, 153, 153)', 'count': 31},
	{'rgb(219, 68, 55)', 'count': 31},
	{'rgba(0, 0, 0, 0.25)', 'count': 28},
	{'rgb(242, 199, 68)', 'count': 27},
	{'rgb(77, 57, 75)', 'count': 26},
	{'rgb(222, 78, 43)', 'count': 24},
	{'rgba(255, 255, 255, 0)', 'count': 24},
	{'rgb(0, 126, 229)', 'count': 23},
	{'rgb(238, 238, 238)', 'count': 20},
	{'rgba(29, 28, 29, 0.04)', 'count': 20},
	{'rgb(51, 51, 51)', 'count': 18},
	{'rgb(66, 133, 244)', 'count': 18},
	{'rgb(44, 64, 152)', 'count': 17},
	{'rgb(55, 116, 55)', 'count': 17},
	{'rgb(224, 90, 48)', 'count': 17},
	{'rgb(86, 182, 222)', 'count': 17},
	{'rgb(235, 129, 171)', 'count': 17},
	{'rgb(158, 160, 167)', 'count': 17},
	{'rgb(164, 202, 58)', 'count': 17},
	{'rgb(244, 180, 0)', 'count': 17},
	{'rgb(15, 157, 88)', 'count': 17},
	{'rgba(0, 0, 0, 0.35)', 'count': 17},
	{'rgb(204, 204, 204)', 'count': 16},
	{'rgba(255, 255, 255, 0.15)', 'count': 16},
	{'rgba(0, 0, 0, 0.5)', 'count': 16},
	{'rgba(255, 255, 255, 0.3)', 'count': 16},
	{'rgb(85, 85, 85)', 'count': 15},
	{'rgba(0, 0, 0, 0.05)', 'count': 15},
	{'rgba(97, 96, 97, 0.3)', 'count': 13},
	{'rgba(224, 30, 90, 0.3)', 'count': 13},
	{'rgba(0, 122, 90, 0.3)', 'count': 12},
	{'rgba(0, 0, 0, 0.075)', 'count': 12},
	{'rgba(29, 28, 29, 0.08)', 'count': 12},
	{'rgba(232, 145, 45, 0.3)', 'count': 11},
	{'rgba(255, 255, 255, 0.7)', 'count': 11},
	{'rgb(229, 229, 229)', 'count': 11},
	{'rgb(119, 119, 119)', 'count': 11},
	{'rgba(255, 255, 255, 0.1)', 'count': 11},
	{'rgba(0, 0, 0, 0.4)', 'count': 11},
	{'rgba(29, 28, 29, 0.3)', 'count': 10},
	{'rgb(199, 230, 244)', 'count': 10},
	{'rgb(0, 136, 204)', 'count': 9},
	{'rgb(185, 74, 72)', 'count': 9},
	{'rgba(29, 28, 29, 0.75)', 'count': 9},
	{'rgb(58, 135, 173)', 'count': 8},
	{'rgb(70, 136, 71)', 'count': 8},
	{'rgb(245, 245, 245)', 'count': 8},
	{'rgba(255, 255, 255, 0.2)', 'count': 8},
	{'rgba(255, 255, 255, 0.5)', 'count': 8},
	{'rgb(17, 17, 17)', 'count': 8},
	{'rgb(232, 232, 232)', 'count': 8},
	{'rgb(61, 156, 212)', 'count': 8},
	{'rgba(29, 28, 29, 0.8)', 'count': 8},
	{'rgb(146, 146, 146)', 'count': 8},
	{'rgba(29, 28, 29, 0.11)', 'count': 8},
	{'rgb(163, 165, 166)', 'count': 8},
	{'rgba(255, 255, 255, 0.05)', 'count': 7},
	{'rgb(249, 249, 249)', 'count': 7},
	{'rgba(0, 0, 0, 0.3)', 'count': 7},
	{'rgba(0, 0, 0, 0.7)', 'count': 7},
	{'rgba(0, 0, 0, 0.12)', 'count': 7},
	{'rgba(255, 255, 255, 0.95)', 'count': 7},
	{'rgba(0, 0, 0, 0.07)', 'count': 7},
	{'rgb(192, 152, 83)', 'count': 6},
	{'rgb(250, 250, 250)', 'count': 6},
	{'rgb(242, 242, 242)', 'count': 6},
	{'rgb(171, 155, 169)', 'count': 6},
	{'rgba(255, 255, 255, 0.9)', 'count': 6},
	{'rgba(0, 0, 0, 0.6)', 'count': 6},
	{'rgb(74, 21, 75)', 'count': 6},
	{'rgb(153, 202, 189)', 'count': 6},
	{'rgba(0, 0, 0, 0.14)', 'count': 6},
	{'rgba(0, 0, 0, 0.06)', 'count': 6},
	{'rgb(221, 240, 248)', 'count': 6},
	{'rgba(29, 155, 209, 0.1)', 'count': 6},
	{'rgba(224, 30, 90, 0.1)', 'count': 6},
	{'rgba(29, 28, 29, 0.1)', 'count': 6},
	{'rgba(29, 155, 209, 0.2)', 'count': 6},
	{'rgb(248, 148, 6)', 'count': 5},
	{'rgb(34, 34, 34)', 'count': 5},
	{'rgb(63, 14, 64)', 'count': 5},
	{'rgb(86, 182, 139)', 'count': 5},
	{'rgb(255, 153, 0)', 'count': 5},
	{'rgba(0, 0, 0, 0.09)', 'count': 5},
	{'rgb(255, 220, 178)', 'count': 5},
	{'rgb(41, 178, 238)', 'count': 5},
	{'rgba(29, 28, 29, 0.67)', 'count': 5},
	{'rgb(26, 29, 33)', 'count': 5},
	{'rgb(227, 228, 230)', 'count': 4},
	{'rgb(0, 85, 128)', 'count': 4},
	{'rgb(217, 237, 247)', 'count': 4},
	{'rgb(238, 95, 91)', 'count': 4},
	{'rgb(247, 247, 247)', 'count': 4},
	{'rgba(134, 134, 134, 0.5)', 'count': 4},
	{'rgb(143, 143, 143)', 'count': 4},
	{'rgb(105, 105, 105)', 'count': 4},
	{'rgb(230, 0, 0)', 'count': 4},
	{'rgb(255, 255, 0)', 'count': 4},
	{'rgb(0, 138, 0)', 'count': 4},
	{'rgb(0, 102, 204)', 'count': 4},
	{'rgb(153, 51, 255)', 'count': 4},
	{'rgb(102, 102, 102)', 'count': 4},
	{'rgb(183, 232, 135)', 'count': 4},
	{'rgb(181, 224, 254)', 'count': 4},
	{'rgb(249, 239, 103)', 'count': 4},
	{'rgb(243, 193, 253)', 'count': 4},
	{'rgb(255, 225, 174)', 'count': 4},
	{'rgb(224, 223, 255)', 'count': 4},
	{'rgb(197, 197, 197)', 'count': 4},
	{'rgba(39, 128, 248, 0.15)', 'count': 4},
	{'rgb(0, 0, 255)', 'count': 4},
	{'rgb(0, 0, 204)', 'count': 4},
	{'rgb(140, 140, 141)', 'count': 4},
	{'rgb(252, 245, 222)', 'count': 4},
	{'rgba(255, 255, 255, 0.08)', 'count': 4},
	{'rgba(252, 244, 218, 0.35)', 'count': 4},
	{'rgba(29, 155, 209, 0.4)', 'count': 4},
	{'rgba(29, 28, 29, 0.15)', 'count': 4},
	{'rgba(29, 28, 29, 0.06)', 'count': 4},
	{'rgb(215, 212, 240)', 'count': 4},
	{'rgb(26, 33, 41)', 'count': 4},
	{'rgb(165, 215, 237)', 'count': 4},
	{'rgb(57, 229, 0)', 'count': 4},
	{'rgb(149, 59, 57)', 'count': 3},
	{'rgb(45, 105, 135)', 'count': 3},
	{'rgb(53, 102, 53)', 'count': 3},
	{'rgb(223, 240, 216)', 'count': 3},
	{'rgb(242, 222, 222)', 'count': 3},
	{'rgb(252, 248, 227)', 'count': 3},
	{'rgba(0, 0, 0, 0.024)', 'count': 3},
	{'rgb(230, 230, 230)', 'count': 3},
	{'rgb(0, 68, 204)', 'count': 3},
	{'rgb(251, 180, 80)', 'count': 3},
	{'rgb(189, 54, 47)', 'count': 3},
	{'rgb(98, 196, 98)', 'count': 3},
	{'rgb(81, 163, 81)', 'count': 3},
	{'rgb(91, 192, 222)', 'count': 3},
	{'rgb(47, 150, 180)', 'count': 3},
	{'rgb(68, 68, 68)', 'count': 3},
	{'rgb(237, 237, 237)', 'count': 3},
	{'rgb(178, 178, 179)', 'count': 3},
	{'rgba(29, 28, 29, 0.6)', 'count': 3},
	{'rgba(0, 0, 0, 0.9)', 'count': 3},
	{'rgb(189, 189, 189)', 'count': 3},
	{'rgb(45, 45, 45)', 'count': 3},
	{'rgb(85, 172, 238)', 'count': 3},
	{'rgb(3, 112, 83)', 'count': 3},
	{'rgba(0, 122, 90, 0.5)', 'count': 3},
	{'rgba(224, 30, 90, 0.5)', 'count': 3},
	{'rgb(177, 177, 177)', 'count': 3},
	{'rgb(227, 227, 227)', 'count': 3},
	{'rgb(217, 217, 217)', 'count': 3},
	{'rgb(240, 240, 240)', 'count': 3},
	{'rgb(214, 45, 23)', 'count': 3},
	{'rgb(179, 181, 185)', 'count': 3},
	{'rgb(249, 251, 253)', 'count': 3},
	{'rgb(155, 155, 155)', 'count': 3},
	{'rgb(75, 185, 147)', 'count': 3},
	{'rgb(255, 235, 170)', 'count': 3},
	{'rgb(255, 249, 220)', 'count': 3},
	{'rgba(252, 244, 218, 0.3)', 'count': 3},
	{'rgba(242, 199, 68, 0.1)', 'count': 3},
	{'rgb(212, 212, 217)', 'count': 3},
	{'rgba(29, 28, 29, 0.33)', 'count': 3},
	{'rgba(221, 221, 221, 0.5)', 'count': 3},
	{'rgba(97, 96, 97, 0.5)', 'count': 3},
	{'rgb(199, 202, 205)', 'count': 3},
	{'rgba(251, 251, 251, 0.827)', 'count': 3},
	{'rgba(29, 28, 29, 0)', 'count': 3},
	{'rgba(29, 28, 29, 0.35)', 'count': 3},
	{'rgb(196, 196, 196)', 'count': 3},
	{'rgb(30, 179, 121)', 'count': 3},
	{'rgb(127, 90, 200)', 'count': 3},
	{'rgba(0, 0, 0, 0.11)', 'count': 3},
	{'rgb(1, 4, 8)', 'count': 3},
	{'rgb(6, 9, 13)', 'count': 3},
	{'rgba(29, 28, 29, 0.05)', 'count': 2},
	{'rgb(164, 126, 60)', 'count': 2},
	{'rgb(247, 247, 249)', 'count': 2},
	{'rgb(225, 225, 232)', 'count': 2},
	{'rgba(255, 255, 255, 0.75)', 'count': 2},
	{'rgb(250, 167, 50)', 'count': 2},
	{'rgb(212, 212, 212)', 'count': 2},
	{'rgba(0, 0, 0, 0.067)', 'count': 2},
	{'rgb(4, 4, 4)', 'count': 2},
	{'rgb(20, 155, 223)', 'count': 2},
	{'rgb(0, 129, 194)', 'count': 2},
	{'rgb(0, 119, 179)', 'count': 2},
	{'rgb(80, 172, 244)', 'count': 2},
	{'rgb(160, 154, 159)', 'count': 2},
	{'rgb(53, 13, 54)', 'count': 2},
	{'rgb(56, 151, 141)', 'count': 2},
	{'rgb(249, 228, 163)', 'count': 2},
	{'rgba(0, 0, 0, 0.8)', 'count': 2},
	{'rgb(217, 217, 222)', 'count': 2},
	{'rgb(170, 170, 170)', 'count': 2},
	{'rgb(133, 133, 133)', 'count': 2},
	{'rgb(239, 239, 239)', 'count': 2},
	{'rgb(149, 149, 149)', 'count': 2},
	{'rgb(16, 16, 16)', 'count': 2},
	{'rgb(19, 19, 19)', 'count': 2},
	{'rgb(122, 122, 122)', 'count': 2},
	{'rgb(249, 210, 222)', 'count': 2},
	{'rgb(147, 126, 145)', 'count': 2},
	{'rgb(26, 156, 219)', 'count': 2},
	{'rgb(252, 233, 239)', 'count': 2},
	{'rgba(255, 255, 255, 0.25)', 'count': 2},
	{'rgba(134, 134, 134, 0.05)', 'count': 2},
	{'rgba(134, 134, 134, 0.2)', 'count': 2},
	{'rgba(0, 122, 90, 0.04)', 'count': 2},
	{'rgba(0, 122, 90, 0.8)', 'count': 2},
	{'rgba(224, 30, 90, 0.02)', 'count': 2},
	{'rgba(252, 244, 218, 0.5)', 'count': 2},
	{'rgba(29, 155, 209, 0.94)', 'count': 2},
	{'rgba(232, 145, 45, 0.99)', 'count': 2},
	{'rgba(222, 78, 43, 0.92)', 'count': 2},
	{'rgb(38, 69, 77)', 'count': 2},
	{'rgb(152, 155, 160)', 'count': 2},
	{'rgb(186, 186, 186)', 'count': 2},
	{'rgba(134, 134, 134, 0.7)', 'count': 2},
	{'rgb(75, 171, 247)', 'count': 2},
	{'rgb(109, 109, 109)', 'count': 2},
	{'rgb(87, 178, 231)', 'count': 2},
	{'rgb(119, 0, 136)', 'count': 2},
	{'rgb(34, 17, 153)', 'count': 2},
	{'rgb(17, 102, 68)', 'count': 2},
	{'rgb(0, 85, 170)', 'count': 2},
	{'rgb(0, 136, 85)', 'count': 2},
	{'rgb(170, 85, 0)', 'count': 2},
	{'rgb(170, 17, 17)', 'count': 2},
	{'rgb(255, 85, 0)', 'count': 2},
	{'rgb(51, 0, 170)', 'count': 2},
	{'rgb(153, 153, 119)', 'count': 2},
	{'rgb(17, 119, 0)', 'count': 2},
	{'rgb(0, 153, 0)', 'count': 2},
	{'rgb(241, 241, 241)', 'count': 2},
	{'rgb(53, 166, 238)', 'count': 2},
	{'rgb(249, 253, 255)', 'count': 2},
	{'rgb(251, 251, 251)', 'count': 2},
	{'rgb(74, 74, 74)', 'count': 2},
	{'rgba(134, 134, 134, 0.6)', 'count': 2},
	{'rgb(93, 187, 145)', 'count': 2},
	{'rgb(0, 155, 243)', 'count': 2},
	{'rgb(204, 236, 223)', 'count': 2},
	{'rgb(233, 246, 241)', 'count': 2},
	{'rgb(140, 213, 183)', 'count': 2},
	{'rgba(204, 236, 223, 0.25)', 'count': 2},
	{'rgb(58, 58, 58)', 'count': 2},
	{'rgba(232, 232, 232, 0.5)', 'count': 2},
	{'rgb(221, 240, 229)', 'count': 2},
	{'rgba(255, 135, 109, 0.5)', 'count': 2},
	{'rgb(160, 160, 162)', 'count': 2},
	{'rgba(28, 28, 28, 0.95)', 'count': 2},
	{'rgb(77, 162, 140)', 'count': 2},
	{'rgba(29, 155, 209, 0.5)', 'count': 2},
	{'rgba(224, 30, 90, 0.4)', 'count': 2},
	{'rgba(29, 28, 29, 0.9)', 'count': 2},
	{'rgba(29, 28, 29, 0.12)', 'count': 2},
	{'rgb(41, 169, 121)', 'count': 2},
	{'rgba(97, 96, 97, 0.9)', 'count': 2},
	{'rgb(119, 238, 119)', 'count': 2},
	{'rgba(224, 30, 90, 0.15)', 'count': 2},
	{'rgb(40, 50, 63)', 'count': 2},
	{'rgb(43, 36, 56)', 'count': 2},
	{'rgba(255, 255, 255, 0.52)', 'count': 2},
	{'rgb(203, 231, 247)', 'count': 2},
	{'rgba(29, 155, 209, 0.05)', 'count': 2},
	{'rgba(224, 30, 90, 0.6)', 'count': 2},
	{'rgb(204, 68, 0)', 'count': 2},
	{'rgb(221, 17, 68)', 'count': 1},
	{'rgb(198, 118, 5)', 'count': 1},
	{'rgb(26, 26, 26)', 'count': 1},
	{'rgb(208, 233, 198)', 'count': 1},
	{'rgb(235, 204, 204)', 'count': 1},
	{'rgb(250, 242, 204)', 'count': 1},
	{'rgb(196, 227, 243)', 'count': 1},
	{'rgba(82, 168, 236, 0.8)', 'count': 1},
	{'rgba(82, 168, 236, 0.6)', 'count': 1},
	{'rgb(252, 252, 252)', 'count': 1},
	{'rgb(219, 197, 158)', 'count': 1},
	{'rgb(213, 147, 146)', 'count': 1},
	{'rgb(122, 186, 123)', 'count': 1},
	{'rgb(122, 181, 211)', 'count': 1},
	{'rgb(233, 50, 45)', 'count': 1},
	{'rgb(248, 185, 183)', 'count': 1},
	{'rgb(89, 89, 89)', 'count': 1},
	{'rgb(169, 219, 169)', 'count': 1},
	{'rgb(70, 165, 70)', 'count': 1},
	{'rgb(179, 179, 179)', 'count': 1},
	{'rgb(42, 128, 185)', 'count': 1},
	{'rgb(0, 109, 204)', 'count': 1},
	{'rgb(218, 79, 73)', 'count': 1},
	{'rgb(91, 183, 91)', 'count': 1},
	{'rgb(73, 175, 205)', 'count': 1},
	{'rgb(54, 54, 54)', 'count': 1},
	{'rgba(255, 255, 255, 0.125)', 'count': 1},
	{'rgb(251, 238, 213)', 'count': 1},
	{'rgb(214, 233, 198)', 'count': 1},
	{'rgb(238, 211, 215)', 'count': 1},
	{'rgb(188, 232, 241)', 'count': 1},
	{'rgba(0, 0, 0, 0.125)', 'count': 1},
	{'rgba(255, 255, 255, 0.075)', 'count': 1},
	{'rgb(27, 27, 27)', 'count': 1},
	{'rgb(37, 37, 37)', 'count': 1},
	{'rgb(81, 81, 81)', 'count': 1},
	{'rgb(14, 14, 14)', 'count': 1},
	{'rgb(21, 21, 21)', 'count': 1},
	{'rgb(14, 144, 210)', 'count': 1},
	{'rgb(4, 128, 190)', 'count': 1},
	{'rgb(221, 81, 76)', 'count': 1},
	{'rgb(196, 60, 53)', 'count': 1},
	{'rgb(94, 185, 94)', 'count': 1},
	{'rgb(87, 169, 87)', 'count': 1},
	{'rgb(75, 177, 207)', 'count': 1},
	{'rgb(51, 155, 185)', 'count': 1},
	{'rgba(0, 0, 0, 0.85)', 'count': 1},
	{'rgb(187, 187, 187)', 'count': 1},
	{'rgb(184, 184, 184)', 'count': 1},
	{'rgb(22, 22, 22)', 'count': 1},
	{'rgb(42, 42, 42)', 'count': 1},
	{'rgb(62, 49, 60)', 'count': 1},
	{'rgba(171, 155, 169, 0.5)', 'count': 1},
	{'rgb(227, 32, 114)', 'count': 1},
	{'rgb(100, 211, 103)', 'count': 1},
	{'rgb(171, 103, 103)', 'count': 1},
	{'rgb(7, 50, 93)', 'count': 1},
	{'rgba(255, 0, 0, 0.15)', 'count': 1},
	{'rgba(255, 185, 100, 0.15)', 'count': 1},
	{'rgba(255, 255, 255, 0.8)', 'count': 1},
	{'rgba(29, 28, 29, 0.2)', 'count': 1},
	{'rgb(59, 89, 152)', 'count': 1},
	{'rgba(97, 96, 97, 0.8)', 'count': 1},
	{'rgba(0, 122, 90, 0.2)', 'count': 1},
	{'rgba(224, 30, 90, 0.2)', 'count': 1},
	{'rgba(224, 30, 90, 0.8)', 'count': 1},
	{'rgb(112, 136, 148)', 'count': 1},
	{'rgb(244, 244, 232)', 'count': 1},
	{'rgb(202, 205, 208)', 'count': 1},
	{'rgba(29, 28, 29, 0.25)', 'count': 1},
	{'rgba(0, 0, 0, 0.04)', 'count': 1},
	{'rgb(250, 248, 246)', 'count': 1},
	{'rgb(127, 127, 131)', 'count': 1},
	{'rgb(121, 121, 121)', 'count': 1},
	{'rgba(29, 28, 29, 0.07)', 'count': 1},
	{'rgb(164, 164, 164)', 'count': 1},
	{'rgb(93, 93, 95)', 'count': 1},
	{'rgb(148, 148, 151)', 'count': 1},
	{'rgba(242, 199, 68, 0.2)', 'count': 1},
	{'rgb(206, 206, 206)', 'count': 1},
	{'rgb(113, 114, 116)', 'count': 1},
	{'rgb(236, 236, 236)', 'count': 1},
	{'rgb(233, 233, 233)', 'count': 1},
	{'rgb(251, 219, 82)', 'count': 1},
	{'rgb(61, 185, 145)', 'count': 1},
	{'rgb(163, 163, 171)', 'count': 1},
	{'rgb(156, 158, 161)', 'count': 1},
	{'rgb(147, 204, 147)', 'count': 1},
	{'rgba(217, 217, 217, 0.5)', 'count': 1},
	{'rgb(123, 123, 123)', 'count': 1},
	{'rgb(160, 160, 160)', 'count': 1},
	{'rgba(250, 250, 250, 0.9)', 'count': 1},
	{'rgb(235, 237, 237)', 'count': 1},
	{'rgba(18, 100, 163, 0.3)', 'count': 1},
	{'rgb(70, 69, 73)', 'count': 1},
	{'rgb(255, 153, 153)', 'count': 1},
	{'rgb(21, 79, 53)', 'count': 1},
	{'rgb(164, 164, 166)', 'count': 1},
	{'rgb(85, 85, 73)', 'count': 1},
	{'rgb(133, 136, 140)', 'count': 1},
	{'rgb(213, 218, 221)', 'count': 1},
	{'rgb(23, 56, 77)', 'count': 1},
	{'rgb(37, 37, 41)', 'count': 1},
	{'rgb(158, 158, 166)', 'count': 1},
	{'rgb(211, 232, 247)', 'count': 1},
	{'rgb(115, 129, 138)', 'count': 1},
	{'rgb(222, 222, 222)', 'count': 1},
	{'rgb(220, 219, 219)', 'count': 1},
	{'rgb(220, 240, 251)', 'count': 1},
	{'rgba(45, 158, 224, 0.06)', 'count': 1},
	{'rgb(255, 220, 220)', 'count': 1},
	{'rgba(255, 255, 255, 0.85)', 'count': 1},
	{'rgba(18, 100, 163, 0.8)', 'count': 1},
	{'rgb(163, 163, 163)', 'count': 1},
	{'rgb(235, 244, 242)', 'count': 1},
	{'rgb(237, 247, 251)', 'count': 1},
	{'rgb(231, 242, 249)', 'count': 1},
	{'rgb(69, 153, 101)', 'count': 1},
	{'rgba(0, 0, 0, 0.01)', 'count': 1},
	{'rgba(29, 155, 209, 0.9)', 'count': 1},
	{'rgba(0, 122, 90, 0.9)', 'count': 1},
	{'rgb(225, 225, 225)', 'count': 1},
	{'rgb(57, 58, 63)', 'count': 1},
	{'rgb(254, 254, 254)', 'count': 1},
	{'rgb(155, 155, 171)', 'count': 1},
	{'rgba(79, 176, 252, 0.4)', 'count': 1},
	{'rgba(79, 176, 252, 0.08)', 'count': 1},
	{'rgb(240, 246, 250)', 'count': 1},
	{'rgb(83, 185, 135)', 'count': 1},
	{'rgb(99, 209, 155)', 'count': 1},
	{'rgb(61, 164, 114)', 'count': 1},
	{'rgb(255, 95, 110)', 'count': 1},
	{'rgb(222, 63, 78)', 'count': 1},
	{'rgb(158, 154, 158)', 'count': 1},
	{'rgba(29, 155, 209, 0.6)', 'count': 1},
	{'rgba(97, 96, 97, 0)', 'count': 1},
	{'rgba(97, 96, 97, 0.05)', 'count': 1},
	{'rgb(237, 247, 253)', 'count': 1},
	{'rgb(211, 236, 250)', 'count': 1},
	{'rgba(97, 96, 97, 0.1)', 'count': 1},
	{'rgba(97, 96, 97, 0.4)', 'count': 1},
	{'rgba(0, 122, 90, 0.1)', 'count': 1},
	{'rgba(0, 122, 90, 0.4)', 'count': 1},
	{'rgba(232, 145, 45, 0.1)', 'count': 1},
	{'rgba(232, 145, 45, 0.4)', 'count': 1},
	{'rgba(97, 96, 97, 0.35)', 'count': 1},
	{'rgb(203, 30, 83)', 'count': 1},
	{'rgba(160, 160, 162, 0.5)', 'count': 1},
	{'rgba(29, 28, 29, 0.03)', 'count': 1},
	{'rgba(29, 155, 209, 0.06)', 'count': 1},
	{'rgba(44, 45, 48, 0.3)', 'count': 1},
	{'rgb(82, 176, 98)', 'count': 1},
	{'rgb(140, 186, 65)', 'count': 1},
	{'rgb(190, 194, 37)', 'count': 1},
	{'rgb(255, 204, 0)', 'count': 1},
	{'rgb(245, 134, 50)', 'count': 1},
	{'rgb(243, 61, 95)', 'count': 1},
	{'rgba(255, 255, 255, 0.55)', 'count': 1},
	{'rgba(248, 248, 248, 0.9)', 'count': 1},
	{'rgba(20, 255, 20, 0.5)', 'count': 1},
	{'rgb(221, 68, 68)', 'count': 1},
	{'rgb(34, 153, 34)', 'count': 1},
	{'rgb(0, 187, 0)', 'count': 1},
	{'rgb(170, 34, 34)', 'count': 1},
	{'rgba(255, 150, 0, 0.3)', 'count': 1},
	{'rgb(232, 242, 255)', 'count': 1},
	{'rgba(255, 255, 0, 0.4)', 'count': 1},
	{'rgb(235, 235, 235)', 'count': 1},
	{'rgba(29, 28, 29, 0.22)', 'count': 1},
	{'rgba(224, 30, 90, 0)', 'count': 1},
	{'rgba(0, 0, 0, 0.26)', 'count': 1},
	{'rgba(255, 255, 255, 0.12)', 'count': 1},
	{'rgba(97, 96, 97, 0.75)', 'count': 1},
	{'rgb(62, 72, 167)', 'count': 1},
	{'rgb(204, 255, 0)', 'count': 1},
	{'rgb(51, 255, 0)', 'count': 1},
	{'rgb(0, 255, 102)', 'count': 1},
	{'rgb(0, 255, 255)', 'count': 1},
	{'rgb(0, 102, 255)', 'count': 1},
	{'rgb(51, 0, 255)', 'count': 1},
	{'rgb(204, 0, 255)', 'count': 1},
	{'rgb(255, 0, 153)', 'count': 1},
	{'rgb(47, 52, 54)', 'count': 1},
	{'rgb(31, 31, 31)', 'count': 1},
	{'rgb(45, 75, 155)', 'count': 1},
	{'rgb(34, 108, 195)', 'count': 1},
	{'rgb(29, 37, 55)', 'count': 1},
	{'rgb(55, 33, 55)', 'count': 1},
	{'rgb(50, 68, 88)', 'count': 1},
	{'rgb(56, 34, 57)', 'count': 1},
	{'rgb(178, 213, 201)', 'count': 1},
	{'rgb(255, 208, 109)', 'count': 1},
	{'rgb(193, 154, 135)', 'count': 1},
	{'rgb(240, 143, 173)', 'count': 1},
	{'rgb(74, 73, 74)', 'count': 1},
	{'rgb(30, 31, 37)', 'count': 1},
	{'rgb(31, 38, 55)', 'count': 1},
	{'rgb(234, 245, 252)', 'count': 1},
	{'rgb(5, 118, 185)', 'count': 1},
	{'rgba(255, 255, 255, 0.45)', 'count': 1},
	{'rgb(159, 105, 231)', 'count': 1},
	{'rgb(75, 190, 46)', 'count': 1},
	{'rgb(231, 57, 45)', 'count': 1},
	{'rgb(60, 152, 159)', 'count': 1},
	{'rgb(103, 75, 27)', 'count': 1},
	{'rgb(233, 102, 153)', 'count': 1},
	{'rgb(224, 167, 41)', 'count': 1},
	{'rgb(104, 75, 108)', 'count': 1},
	{'rgb(91, 137, 213)', 'count': 1},
	{'rgb(43, 104, 54)', 'count': 1},
	{'rgb(153, 169, 73)', 'count': 1},
	{'rgb(223, 61, 192)', 'count': 1},
	{'rgb(76, 192, 145)', 'count': 1},
	{'rgb(155, 59, 69)', 'count': 1},
	{'rgb(213, 130, 71)', 'count': 1},
	{'rgb(187, 134, 183)', 'count': 1},
	{'rgb(90, 69, 146)', 'count': 1},
	{'rgb(219, 49, 80)', 'count': 1},
	{'rgb(35, 94, 91)', 'count': 1},
	{'rgb(158, 57, 151)', 'count': 1},
	{'rgb(83, 183, 89)', 'count': 1},
	{'rgb(195, 134, 223)', 'count': 1},
	{'rgb(56, 90, 134)', 'count': 1},
	{'rgb(166, 48, 36)', 'count': 1},
	{'rgb(88, 112, 221)', 'count': 1},
	{'rgb(234, 41, 119)', 'count': 1},
	{'rgb(80, 160, 207)', 'count': 1},
	{'rgb(213, 90, 239)', 'count': 1},
	{'rgb(209, 112, 125)', 'count': 1},
	{'rgb(67, 118, 27)', 'count': 1},
	{'rgb(224, 107, 86)', 'count': 1},
	{'rgb(143, 74, 43)', 'count': 1},
	{'rgb(144, 45, 89)', 'count': 1},
	{'rgb(222, 95, 36)', 'count': 1},
	{'rgb(162, 165, 220)', 'count': 1},
	{'rgb(130, 115, 39)', 'count': 1},
	{'rgb(60, 140, 105)', 'count': 1},
	{'rgb(141, 75, 132)', 'count': 1},
	{'rgb(132, 178, 47)', 'count': 1},
	{'rgb(78, 192, 214)', 'count': 1},
	{'rgb(226, 63, 153)', 'count': 1},
	{'rgb(228, 117, 223)', 'count': 1},
	{'rgb(97, 154, 79)', 'count': 1},
	{'rgb(167, 47, 121)', 'count': 1},
	{'rgb(125, 65, 76)', 'count': 1},
	{'rgb(171, 167, 39)', 'count': 1},
	{'rgb(150, 93, 27)', 'count': 1},
	{'rgb(77, 94, 38)', 'count': 1},
	{'rgb(221, 133, 39)', 'count': 1},
	{'rgb(189, 147, 54)', 'count': 1},
	{'rgb(232, 93, 114)', 'count': 1},
	{'rgb(220, 125, 187)', 'count': 1},
	{'rgb(188, 54, 99)', 'count': 1},
	{'rgb(157, 142, 238)', 'count': 1},
	{'rgb(132, 105, 188)', 'count': 1},
	{'rgb(115, 118, 157)', 'count': 1},
	{'rgb(177, 76, 188)', 'count': 1},
	{'rgb(0, 115, 198)', 'count': 1},
	{'rgb(204, 34, 85)', 'count': 1}
]