:root {
	/* Modify these to change your theme colors: */
	--primary: #2676D5;
	--text: #DDD;
	--text-subtle: #DDDDDD80;
	--background: #1E1F25;
	--background-hover: #2D333A;
	--background-elevated: #3D434A;
	--border-dim: #5D636A;
	--text-code: #9BF;
	--background-mention: var(--background-hover);

	--online: #00ff00;
	--pressed: #2F4A74;
	--gold: #F2E317;


	/* These should be less important: */
	--background-light: #AAA;
	--background-bright: var(--background-elevated);

	--border-bright: var(--primary);

	--text-bright: #FFF;
	--text-special: var(--primary);
	--private: var(--text-subtle);

	--scrollbar-background: #0000;
	--scrollbar-border: var(--primary);
}
